@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
.block-scroll {
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.teQAzf {
  margin: 0px !important;
  padding: 0px !important;
}
